body { padding-top: 70px; }

.steps-indicator {
  position: relative;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

.modal-dialog-center { /* Edited classname 10/03/2014 */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

a {
  text-decoration: none !important;
}

.alert {
  position:absolute;
  z-index:1;
}

.login {
  max-width: 320px;
  margin: 0 auto;
}

.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.profile-nav {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.profile {
  height: 35px;
  width: 35px;
  margin-left: 5px;
}

.message {
  margin-top: 10px;
}

.clipboard-btn {
    border-width: 0;
    background-color: transparent;
    color: #777;
    display: inline-block;
    top: 0;
    line-height: 1;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.centered-cell {
  vertical-align:middle;
  text-align:center;
}

.multiline {
  white-space: pre-line;
}
.radioBtn .btn{margin:0 10px;}
.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
.table thead tr th{vertical-align: text-top !important;}
.radioBtn.border button.btn.btn-info.notActive:hover {
    border: 1px solid #3276b1;
    color: #3276b1;
    background-color: #fff;
}

.radioBtn.border button.btn.btn-info.notActive {
    border: 1px solid #777;
    color: #777;
    background-color: #eee;
    opacity: .65;
}
.radioBtn.border button.btn.btn-info {
    background-color: #fff;
    color: #3276b1;
    border: 1px solid #3276b1;
    margin-bottom: 8px;
}
.panel-body .title{font-size: 92px;font-weight: bolder;}
.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.btn-default-dropdown ul{background: #393a35;}
.btn-default-dropdown li:hover{background: #3E3F3A;}
.btn-default-dropdown li a{color: white;}
.m-t-20{margin-top: 20px;}
.navbar-nav>li>a {
    font-family: open-sans,sans-serif;
    list-style: none;
    box-sizing: border-box;
    text-size-adjust: none;
    overflow-wrap: break-word;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 0 22px;
    font-weight: 700 !important;
    line-height: 40px !important;
    font-size: 16px !important;
    text-transform: none!important;
    color: #333!important;
}
.nav.navbar-left>li>a:after{
  background: #f26649;
    display: block;
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 8px;
    left: 25px;
    right: 25px;
    height: 3px;
    width: auto;
    transition: .5s;
}
.text-with-summary .copyright-text p {
    font-size: 10px;
    line-height: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #5b5b5b;
}
.copyright-text {
    float: left;
    padding: 10px;
    margin-left: 25px;
}
.footer-logo {float: left;}
.block-globalfootercopyright {margin-top: 20px;}
.text-with-summary {margin: auto; width: 840px;}
.nav.navbar-left>li>a:focus:after, .nav.navbar-left>li>a:hover:after {opacity: 1;}
ul.navbar-nav.navbar-left{margin-top: 45px;}
.navbar-fixed-top{background-color: white;}
.btn-success {background-color: #f8971d;}
.btn-success.focus, .btn-success:focus, .btn-success:hover {background-color: #e48a00;}
a {color: #f8971d;}
a:focus, a:hover {color: #e48a00;}
.switch.checked {background: #f8971d;border-color: #e48a00;}
.navbar-header{float: none;margin: auto !important;width: 1240px;}
.abs{position: absolute;top: 5px;right: 5px;}
.navbar-toggle {
    position: absolute;
    background-repeat: no-repeat;
    padding: 6px 0px;
    margin: 25px 15px 9px 0;
    background-image: url(https://pfe-pfizercom-d8-prod.s3.amazonaws.com/2021-01/BlackNav.png);
    border: none;
    right: 0;
    background-position: 0;
}
.panel-footer{background-color: #f0f0f0;border-top: 1px solid #e0e0e0;}
.table-hover>tbody>tr:hover, .table-striped>tbody>tr:nth-of-type(odd), .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active,
.table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td,
.table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active{background-color: #f0f0f0;}
.panel-default>.panel-heading{background-color: #f0f0f0;border-color: #e0e0e0;}
.panel-default{border-color: #e0e0e0}
.jumbotron, .thumbnail {background-color: #f0f0f0;}
.nav>li>a:focus, .nav>li>a:hover {background-color: #f0f0f0;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{background-color: #f0f0f0;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav-tabs>li>a{background-color: #f0f0f0;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color: #f0f0f0;color: #e48a00;}
@media (max-width: 768px) {
  .navbar-brand{height: 40px;padding: 20px 15px;}
  .navbar-brand img{height: 28px;}
  .navbar-collapse li{border-bottom: 1px solid #ddd;}
  .abs {top: -8px;right: 60px;}
  .nav>li:focus, .nav>li:hover {background-color: #f0f0f0;}
}
